# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
.venv/
*.egg-info/
build/
dist/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# VS Code / IDE
.vscode/
.idea/

# Dataset and model outputs
/data/
*.pth
*.pt

# System files
.DS_Store
Thumbs.db
